.header {
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 0;
}

.hdrText{
    position: absolute;

    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: var(--tg-theme-text-color);
    background-color:var(--tg-theme-header-bg-color);
}

.username {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);

    padding: 10px;
    border-radius: 15px;

    position: fixed;
    right: 1%;
    top: 1%;
    font-size: calc(200% - 11px);
}