* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.closeBtn{
  padding: 5px 10px;

  border: 20px;
  border-radius: 15px;
  background-color: var(--tg-theme-button-color);


  position: absolute;
  bottom: 20px;
  left:36%;

  transform: translate(-50% -50%);
  width: 10%;
  min-height: 50px;
  min-width: 100px;

  font-size: 20px;
}